body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#top {
    background-color: red;
    height: 10vh;
    top: 0px;
    width: 100%;
}

#center-three {
    height: 80vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10vw 80vw 10vw;
}

.sides {
    background-color: red;
    min-width: 5vw;
    height: 90vh;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

#container {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
}

.squares {
    border: 1px solid black;
    background-color: white;
}

#bottom {
    background-color: red;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#secret-button {
    padding: 3vh;
    background-color: white;
    margin-right: 2vw;
    border-radius: 25%;
    border: none;
    font-family: 'cabin sketch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset-switch {
    margin-left: 2vw;
    background-color: white;
    padding: 3vh;
    border-radius: 25%;
    border: none;
    font-family: 'cabin sketch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name {
    align-self: center;
    justify-self: center;
    font-weight: 900;
    color: gold;
    font-size: 64px;
    font-family: 'cabin sketch', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.black {
    border: 1px solid black;
    background-color: black;
}